doc/itop_design.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="https://rudnerbjoern.github.io/iTop-schema/3.2/itop_design.xsd"/>

	<xs:complexType name="AttributeGeolocation">
		<xs:complexContent>
			<xs:extension base="AttributeDefinition">
				<xs:sequence>
					<xs:element name="sql" type="alteredString" minOccurs="0"/>
					<xs:element name="default_value" type="alteredString" minOccurs="0"/>
					<xs:element name="is_null_allowed" type="alteredBoolean" minOccurs="0"/>
					<xs:element name="width" type="alteredNonNegativeInteger" minOccurs="0" default="200"/>
					<xs:element name="height" type="alteredNonNegativeInteger" minOccurs="0" default="150"/>
					<xs:element name="dependencies" type="dependenciesType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DashletGeoMap">
		<xs:complexContent>
			<xs:extension base="Dashlet">
				<xs:sequence>
					<xs:element name="rank" type="alteredFloat" minOccurs="0"/>
					<xs:element name="height" type="alteredNonNegativeInteger" minOccurs="0" default="600"/>
					<xs:element name="search" type="alteredBoolean" minOccurs="0" default="false"/>
					<xs:element name="query" type="alteredString" minOccurs="0"/>
					<xs:element name="attribute" type="alteredString" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GeoMap">
		<xs:annotation>
			<xs:documentation>This definition is deprecated, please use `DashletGeoMap` instead.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DashletGeoMap"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
